<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>malangnode</title>
</head>
<body>
  <main>
    <p>Welcome to malangnode!</p>
  </main>
  <script src="/socket.io/socket.io.js"></script>
  <script type="module" src="scripts/app.js"></script>
</body>
</html>
