<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="images/favicon.png">
  <link rel="stylesheet" href="styles/common.css">
  <title>WebRTC</title>
</head>
<body>
  <main>
    <video id="rtc-video" autoplay playsinline></video>
    <video id="rtc-remote-video" autoplay playsinline></video>
    <button id="rtc-start" class="button">START</button>
    <button id="rtc-call" class="button">CALL</button>
    <button id="rtc-recvonly" class="button">RECV ONLY</button>
  </main>
  <script src="/socket.io/socket.io.js"></script>
  <script type="module" src="/scripts/webrtc.js"></script>
</body>
</html>
