@charset "UTF-8";

:root {
  --font-sans-serif: system-ui, sans-serif;
  --body-font-family: var(--font-sans-serif);

  /* Button */
  --button-bg-color: #0d6efd;
  --button-hover-bg-color: #0b5ed7;
  --button-color: #fff;
  --button-border-radius: 0.5rem;
  --button-border-width: 1px;
  --button-border-color: var(--button-bg-color);
  --button-hover-border-color: var(--button-hover-bg-color);
  --button-padding-x: 1rem;
  --button-padding-y: 0.5rem;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--body-font-family);
}

button {
  border-radius: var(--button-border-radius);
  cursor: pointer;
  font-family: inherit;
}

video {
  background-color: #222;
}

.button {
  background-color: var(--button-bg-color);
  color: var(--button-color);
  border: var(--button-border-width) solid var(--button-border-color);
  padding: var(--button-padding-y) var(--button-padding-x);
  transition:
    background-color 0.15s ease-in-out,
    bordor-color 0.15s ease-in-out;
}

.button:hover {
  background-color: var(--button-hover-bg-color);
  border-color: var(--button-hover-border-color);
}
